{% extends 'base.html' %}

{% block title %}
    Домашняя страница
{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron">
                    <h1 class="display-4">Добро пожаловать на наш сайт!</h1>
                    <p class="lead">IThub-Life - ваш партнер в мире развлечений, образования и информации.</p>
                </div>
            </div>
            <div class="col-md-6">
                <h2>О нашем сайте</h2>
                <p>IThub-Life предлагает разнообразные возможности для вас:</p>
                <ul>
                    <li>Квесты и ивенты, которые позволят вам получить сертификаты и подарки;</li>
                    <li>Страница друзей, где вы можете присоединиться к кружкам по интересам и общаться в чате;</li>
                    <li>Мероприятия, организованные студентами, включая встречи и обсуждения;</li>
                    <li>Рейтинг клубов, где вы можете увидеть популярность и активность каждого клуба в нашем сообществе.</li>
                </ul>
                <h2>Полезная информация</h2>
                <p>Помни, что в коледже есть большое число мест, где в перерывах мужду занятиями ты вместе с однокурсниками можешь посидеть в приятной обстановке, пообщаться и выпить чашечку кофе.</p>
                <p>В городе есть большое пространство для молодёжи, бесплатные пространства для проведения досуга. За полной информацией можешь обратиться к старшим - например к профкому,не бояся, они не кусатся</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
